<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="achievements-section">
    <section class="section achievements" id="achievements">
        <div class="container">
            <div class="section-title-container">
                <h2 class="section-title">Achievements</h2>
                <p class="section-subtitle">
                    Recognitions and milestones I've reached along my journey
                </p>
            </div>
            <div class="achievements-container">
                <div class="achievement-card">
                    <div class="achievement-icon">
                        <i class="fa-solid fa-play"></i>
                    </div>
                    <h3 class="achievement-title">3rd Place @ Intra-College Crack the Code contest.</h3>
                    <p class="achievement-description">
                        Secured 3rd place in the “Crack The Code” contest by solving challenging programming problems efficiently, demonstrating practical coding skills and logical thinking in a competitive environment.
                    </p>
                </div>

                <div class="achievement-card">
                    <div class="achievement-icon">
                        <i class="fas fa-trophy"></i>
                    </div>
                    <h3 class="achievement-title">3rd place @ Intra-College Modelathon Contest</h3>
                    <p class="achievement-description">
                        Secured 3rd place in the Modelathon contest by developing a machine learning model to predict mobile phone performance based on key specifications, providing insights for better device evaluation.
                    </p>
                </div>

                <div class="achievement-card">
                    <div class="achievement-icon">
                        <i class="fa-solid fa-film"></i>
                    </div>
                    <h3 class="achievement-title">AWS Certified Cloud Practitioner</h3>
                    <p class="achievement-description">
                        AWS Certified Cloud Practitioner - A foundational certification demonstrating a solid understanding of cloud concepts, AWS services, security, pricing, and core cloud best practices.
                    </p>
                </div>
            </div>
        </div>
    </section>
</th:block>
</html>